/* Default Style! */
/*
 Color Guide!
 Light Green (content background): #669944
 Dark Green (Forum Header/Borders): #446622
 Blue (main layout hue): #549984
 Light Blue (Occasional inner content): #54a994

*/

html{
    background: url('background.png');
    background-color: #fdf1ff;
    background-repeat: no-repeat;
    background-position:right bottom;
    background-attachment:fixed;
    color: #3b1244;
}


body
{
    background-image: url('cherry.png') !important;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:left center;
}

/*----------- Text! ---------------------------------------------*/
p
{
    font-size: 10px;
    font-family: Verdana;
}


.double-image
#l_lownav a
{
    margin-right: 4px;

}
a.mainnav1:hover:before
{
    content: url('/styles/default/home1.png');
    position: absolute;
    margin-top: 2px;
}
a.mainnav2:hover:before
{
    content: url('/styles/default/user1.png');
    position: absolute;
    margin-top: 2px;
}
a.mainnav3:hover:before
{
    content: url('/styles/default/pets1.png');
    position: absolute;
    margin-top: 2px;
}
a.mainnav4:hover:before
{
    content: url('/styles/default/world1.png');
    position: absolute;
}
a.mainnav5:hover:before
{
    content: url('/styles/default/community1.png');
    position: absolute;
}
a.mainnav6:hover:before
{
    content: url('/styles/default/info1.png');
    position: absolute;
}

a
{
    font-weight: bold;
    color: #5e226b;
    text-decoration: none;
    font-family: georgia;
}
a:hover
{
    text-decoration: underline;
}

/*----------- Page Element Styles -------------------------------------*/
/*email spacer*/
hr
{
    border: 0;
    color: #A7008D;
    background-color: #A7008D;
    height: 5px;
}

/*all other spacers*/
hr.light
{
    border: 0;
    color: #d485e4;
    background-color: #d485e4;
    height: 5px;
}

/*-------------------- Forum Borders LEAVE BLACK! ----------------------------*/
table.boardtable
{
    height: 100%;
    border-bottom: 1px dashed #000000;
    width: 100%;
}


td.title
{
    width: 150px;
    border-right: 1px dashed #000000;
}

td.poster
{
    width: 200px;
    border-left: 1px dashed #000000;
}

table.threadtable
{
    width: 100%;
    height: 40px;
    border-bottom: 1px dashed #000000;
}
td.topic
{
    border-right: 1px dashed #000000;
}
td.author
{
    width: 150px;
}
td.response
{
    width: 250px;
    border-left: 1px dashed #000000;
}

table.posttable
{
    width: 100%;
}
td.postauthorright
{
    width: 180px;
    padding-left: 10px;
    border-left: dotted 1px #000000;
    vertical-align: top;
}
td.postauthorleft
{
    width: 160px;
    padding-left: 30px;
    border-right: dotted 1px #000000;
    vertical-align: top;

}
td.postcontent
{
    vertical-align: top;
}
td.postdate
{
    text-align: right;
    height: 30px;
    border-bottom: dotted 1px #000000;
}
td.pmlist
{
    border-bottom: solid 1px #000000;
}

/*---------------------- END LEAVEING IT BLACK! -------------------------*/

textarea
{
    width: 400px;
    height: 150px;
}
/*----------- Page Layout Divs ----------------------------------*/
#newscontainer
{
    background-color: #f6ceff;
    width: 80%;
    height: 400px;
    margin: auto;
    text-align: center;
    border: 2px solid #730086;
    overflow-y: scroll;
}

#avatarcontainer
{
    width: 400px;
    height: 400px;
    border:  2px solid #730086;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
#biocontainer, #linkcontainer
{
    background-color: #f6ceff;
    border: 2px solid #730086;
    width: 45%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
#linkcontainer
{
    text-align: center;
}

/* FORUM TITLE */
#catcontainer
{
    background-color: #e987ff;
    text-align: center;
}
#boardcontainer
{
    height: 50px;
}
#threadcontainer
{
    width: 100%;
    height: 40px;
}

#initialpost, #oddpost, #evenpost
{
    width: 95%;
    margin: auto;
    margin-bottom: 2px !important;
    border: 2px solid #730086;
}
#initialpost
{
    background-color: #b051b4;
}
#oddpost
{
    background-color: #e6b4ef;
}
#evenpost
{
    background-color: #cf7cd3;
}

#convocontainer
{
    width: 80%;
    height: 400px;
    overflow-y: scroll;
    background-color: #f6ceff;
    margin: auto;
    text-align: center;
    border: 2px solid #730086;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

#generalcontainer
{
    float: left;
    margin-left: 12%;
    background-color: #f093ff;
    width: 80%;
    text-align: center;
    border: 2px solid #730086;
    margin-bottom: 10px !important;
}
#generalcontainerleft
{
    background-color: #ecb7f6;
    width: 80%;
    margin: auto;
    border: 2px solid #730086;
    margin-bottom: 10px !important;
}
#petcontainer
{
    float: left;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: #f8d0ff;
    width: 80%;
    border: 2px solid #730086;
}
#petnamecontainer
{
    float: left;
    margin-left: 40px;
    width: 250px;
    height: 50px;
    border-bottom: 1px solid #000;
    text-align: left;
}
#petidcontainer
{
    float: left;
    margin-left: -25px;
    margin-top: 35px;
    opacity: .6;
}
#petcontentcontainer
{
    float: left;
    clear: both;
    margin-left: 45px;
    width: 400px;
    margin-bottom: 5px;
}

#petbox
{
    float: left;
    width: 150px;
    margin-left: 60px;
    border: 1px solid #730086;
    text-align: center;
    margin-bottom: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#itembox
{
    float: left;
    width: 150px;
    margin-left: 30px;
    border: 1px solid #730086;
    text-align: center;
    margin-bottom: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#alert
{
    width: 450px;
    margin-top: 5px !important;
    margin: auto;
    height: 30px;
    background-color: #00bb00;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}
#warning
{
    width: 450px;
    margin-top: 5px !important;
    margin: auto;
    height: 30px;
    background-color: #bb0000;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}

/*----------- Main Layout Divs ----------------------------------*/
#buffer
{
    float: left;
    height: 1px;
    width: 10%;
}

/*Main containter*/
#l_container
{
    background-color: #c87dd4;
    border: 2px solid #730086;

    width: 80%;
    float: left;
    margin: 0px;
    padding-bottom: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*top container*/
#l_userinfo1
{
    background-color: #ee9bff;
    border: 2px solid #730086;

    width: 35%;
    float: left;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#l_topcontent
{
    background-color: #e8aff1;
    border: 2px solid #730086;

    width: 90%;
    height: inherit;
    float: left;
    margin-left: 5%;
}

/*---------------Bottom Top-----------------*/
#l_midnav
{
    background-color: #e97fff;
    border: 2px solid #730086;

    width: 60%;
    float: right;
    margin-top: -5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#l_lownav
{
    float: right;
    width: 55%;
    margin-right: 10px;

}

/*---------------Bottom Top-----------------*/
#l_userinfo2
{
    background-color: #cb5fe1;
    border: 2px solid #730086;

    text-align: center;

    width: 50%;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

#l_pic
{
    background-image: url("circle.png");

    width: 160px;
    height: 160px;
    float: left;
    margin-left: 7%;
    margin-top: -165px;
}

#l_maincontent
{
    background-color: #a973b4;
    border: 2px solid #730086;

    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}

#l_footer
{
    clear: both;
    text-align: center;
    margin: auto;
    opacity: .5;
}

/*---------------General Classes-----------------*/
.fade {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
